{% extends 'base.html' %}

{% block head %}
    <title>SignUp</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Sign Up</h1>
        <div class="container">
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}